# LLM-api
OPENAI_API_KEY=sk-r5f8xxxxxxxxxxxxxxxxxxxxxxxxxxx1e5v88
OPENAI_BASE_URL=https://api.openai-proxy.org/v1

siliconflow_dsv4 = sk-gohnkxxxxxxxxxxxxxxxxxxxxxxxxxxxhejcsxszwkoj
siliconflow_url = https://api.siliconflow.cn/v1

deepseek_key = sk-1a8fxxxxxxxxxxxxxxxxxxxxxxxxxxxdbb
deepseek_url = 	https://api.deepseek.com

# online
mineru_token = sk-90Gkn25axxxxxxxxxxxxxxxxxxxxxxxxxxxPUoxMY26REb
mineru_base_url = https://mineru.net/api/v4
tavily_key = tvly-dev-2P6Lt8-FxxxxxxxxxxxxxxxxxxxxxxxxxxxZ55fRPeO

# langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt_0e40b6xxxxxxxxxxxxxxxxxxxxxxxxxxx146_f1ffc1d0bb
LANGSMITH_PROJECT="test_langchain"